{% load static %}

<nav class="fixed w-full max-w-screen-lg -translate-x-1/2 left-1/2">

    <div class="flex flex-wrap items-center justify-between mx-3 p-1 rounded-lg shadow-lg bg-green-200 dark:bg-green-600">

        <a href="{% url 'index' %}" class="flex items-center ml-2">

            <img src="{% static 'logo/logo.png' %}" class="h-14 mr-3 hidden dark:block" alt="logo" />                    
            <img src="{% static 'logo/logo_dark.png' %}" class="h-14 mr-3 btn-toggle dark:hidden" alt="logo" />

        </a>

        <div class="flex md:order-2">

            <a href="https://api.whatsapp.com/send/?phone=573052477600&text&type=phone_number&app_absent=0" class="focus:outline-none mr-4" target="_blank">
                <img src="{% static 'logo/wsp.png' %}" class="w-10 h-10" alt="logo"/>
            </a>

            <button id="theme-toggle" type="button" class="text-green-800 dark:text-green-300 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm mr-3">
                <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
            </button>
                        
            <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 text-sm text-green-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-green-200 dark:text-green-300 dark:hover:bg-green-800 dark:focus:ring-green-800 mr-1" aria-controls="navbar-sticky" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            </button>

        </div>
        
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">

            <ul class="flex flex-col p-2 md:p-0 mt-2 font-medium md:flex-row md:space-x-8 md:mt-0">
                
                <li>
                    <a href="{% url 'index' %}" class="block p-2 text-green-800 hover:bg-green-800 hover:rounded rounded-lg hover:text-white md:hover:bg-green-800 md:hover:text-white md:dark:hover:text-green-500 dark:text-white dark:hover:bg-green-200 dark:hover:text-green-800">Inicio</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}" class="block px-2 p-2 text-green-800 hover:bg-green-800 hover:rounded rounded-lg hover:text-white md:hover:bg-green-800 md:hover:text-white md:dark:hover:text-green-500 dark:text-white dark:hover:bg-green-200 dark:hover:text-green-800">Contacto</a>
                </li>
                <li>
                    <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full p-2 text-green-800 hover:bg-green-800 hover:rounded rounded-lg hover:text-white md:hover:bg-green-800 md:hover:text-white md:dark:hover:text-green-500 dark:text-white dark:hover:bg-green-200 dark:hover:text-green-800">Servicios <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></button>
                    <!-- Dropdown menu -->
                    <div id="dropdownNavbar" class="z-10 w-48 hidden font-normal border border-green-500 bg-green-100 dark:bg-green-600 divide-y divide-gray-100 rounded-lg shadow dark:divide-gray-600">
                        <ul class="py-1 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                          <li>
                            <a href="{% url 'software' %}" class="block p-2 text-green-800 hover:bg-green-800 hover:rounded rounded-lg hover:text-white md:hover:bg-green-800 md:hover:text-white md:dark:hover:text-green-500 dark:text-white dark:hover:bg-green-200 dark:hover:text-green-800">Desarrollo de Software</a>
                          </li>
                          <li>
                            <a href="{% url 'technical_support' %}" class="block p-2 text-green-800 hover:bg-green-800 hover:rounded rounded-lg hover:text-white md:hover:bg-green-800 md:hover:text-white md:dark:hover:text-green-500 dark:text-white dark:hover:bg-green-200 dark:hover:text-green-800">Soporte Tecnico de Computadoras</a>
                          </li>
                          
                        </ul>
                    </div>
                </li>
                
            </ul>

        </div>

    </div>

</nav>
  